*,
*::before,
*::after {
	box-sizing: border-box;
}

.white{
	color:#FFFFFF;
}

:root {
	--ff-primary: 'Lora', serif;
	--ff-secondary: 'Roboto Slab', serif;
	--fw-reg: 300;
	--fw-bold: 900;

	--clr-light: #fff;
	--clr-dark: #000;
	--clr-accent: #DAA520;

	--fs-h1: 2.8rem;
	--fs-h2: 1.6rem;
	--fs-h3: 1.25rem;
	--fs-body: 1rem;

	--bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
		  0.125em 0.125em 0.25em rgba(0,0,0,.15);

}

/*Buttons*/

.btn {
	display: inline-block;
	background: var(--clr-accent);
	color: var(--clr-dark);
	text-decoration: none;
	cursor: pointer;
	font-size: .8rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: var(--fw-bold);
	transition: transform 200ms ease-in-out;

}

.btn:hover {
	transform: scale(1.1);
}

@media (min-width: 800px) {
	:root {
		--fs-h1: 4.2rem;
		--fs-h2: 2.8rem;
		--fs-h3: 1.5rem;
		--fs-body: 1.125rem;
	}
}



/* General Styles */

body{
	background: var(--clr-dark);
	color: var(--clr-light);
	margin: 0;
	font-family: var(--ff-primary);
	font-size: var(--fs-body);
	line-height: 1.6;
}

p {
	color: var(--clr-light);
}

small{
	color: var(--clr-light);
}

section{
	padding: 5em 2em;
}


img{
	display: block;
	max-width: 100%;

}

strong { font-weight: var(--fw-bold); }
/* Typography */

h1,
h2,
h3 {
	line-height: 1.1;
	margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.navbar {
	padding: 0 !important;
	background-color: black;
}

.section__title{
	margin-bottom: .25em;
}

.section__title--intro {
	font-weight: var(--fw-reg);
}

.section__title--intro strong{
	display: block;
}

.section__subtitle {
	margin: 0;
	font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
	background: var(--clr-accent);
	padding: .25em 1em;
	font-family: var(--ff-secondary);
	margin-bottom: 1em;
}


.section__subtitle--work {
	color: var(--clr-accent);
	font-weight: var(--fw-bold);
	margin-bottom: 2em;
}

/* header*/


/* intro section */
.intro{
	position: relative;

}


.intro__img {
	box-shadow: var(--bs);
}

.section__subtitle--intro {
	display: inline-block;
}

@media (min-width: 800px) {
	.intro{
		display: grid;
		width: min-content;
		margin: 0 auto;
		grid-column-gap: 2em;
		grid-template-areas: 
			"img title"
			"img subtitle";
		grid-template-columns: min-content;
	}

	.intro__img {
		grid-area: img;
		min-width: 350px;
		position: relative;
		z-index: 2;
	}

	.section__subtitle--intro {
		align-self: start;
		grid-column: -1 / 1;
		grid-row: 2;
		text-align: right;
		position: relative;
		left: -1.5em;
		width: calc(100% + 1.5em);

	}
}




/* Profile Section */
.my-info {
	text-align: center;
}

.info__title--infos{
	color: var(--clr-accent);
	position: relative;
	text-align: center;
}

.infos{
	margin-bottom: 6em;
	 display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    color: rgb(0, 0, 0);
    gap: 4em;
}

.info{
	height: 15em;
    border: 1px solid #ccc;
    border-color: var(--clr-accent);
    border-radius: 10px;
    padding: 6px;
}


.info:hover {
	transform: scale(1.1);
}







/* My services */
.my-services {
	text-align: center;

}

.section__title--services {
	color: var(--clr-accent);
	position: relative;
}

.section__title--services::after {
	content: '';
	display: block;
	height: 2px;
	margin: 0.5em auto 2em;
	background: var(--clr-accent);
	opacity: 0.25;
}

.services {
	margin-bottom: 4em;
	 margin-top: 3em;
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    color: rgb(0, 0, 0);
    gap: 4em;
}

.service {
	height: 20em;
	margin: 0 auto;
    border: 1px solid #ccc;
    border-color: var(--clr-accent);
    border-radius: 10px;
    margin: 15px 7px;
    padding: 6px;
    text-align: center;
}


.service:hover {
	transform: scale(1.1);
}




/* About me section */
.about-me {
	max-width: 1500px;
	margin: 0 auto;
}

.about-me__img {
	box-shadow: var(--bs);
}
.about-me__paragraph {
	margin-top: 2em;
	line-height: 1.8em;
}

@media (min-width: 800px) {
	.about-me{
		display: grid;
		grid-template-columns: 1fr 300px;
		grid-template-areas: 
			"title img"
			"subtitle img"
			"text img";
		grid-column-gap: 2em; 
	}

	.section__title--about {
		grid-area: title;
	}

	.section__subtitle--about {
		grid-column: 1/-1;
		grid-row: 2;
		position: relative;
		left: -1em;
		width: calc(100% + 2em);
		padding-left: 1em;
		padding-right: calc(200px + 4em);
	}

	.about-me__img {
		grid-area: img;
		/*min-width: 300px;*/
		position: relative;
		z-index: 2;
		min-height: 430px;

	}
}



/* Portfolio */

.my-work {
	text-align: center;
}



.portfolios{
	margin-bottom: 6em;
	text-align: center;
	margin: 30px 30px 30px 30px;
	
}

.portfolio{
	padding: 4em;
	width: 50%;
	
}




.portfolios {
	display: flex;
	margin: 3em 1em ;
}

.portfolio__image {
	width: 100%;
	height: 20em;
}


.portfolio__img {
		height: 100%;
		width: 100%;
		object-fit: cover;;
		border: 1px solid #ccc;
    	border-color: var(--clr-accent);
		z-index: 2;

	}

.portfolio__img:hover{
	transform: scale(1.02);
}



@media (max-width: 800px) {
	.portfolios {
		flex-direction: column;
		margin: 1em;
		padding:0;
	}

.portfolio{
	width: 100%;
		padding: 1em;
	
}


.portfolio__right{
		margin-top: 3em;
	padding: 1em;
}
	/* .work {
		/*  */
	} */

/* } */

.port {
	margin-top: 30px;
}



.my-port {
	padding: 1em;
	background-image: url(../static/up.jpg);
	background-size: cover;
	background-blend-mode: multiply;
	text-align: center;
	margin-top: 70px;

}

/*----- 

My Portfolio

---*/

.my-portfolios {
	margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19em, 2fr));
    color: rgb(0, 0, 0);
    gap: 4em;
}

.my-portfolio {
	padding: 2em;
}
@media (max-width: 800px) {
	.my-portfolio {
		padding: 0;
	}
	
}



/* Contact Section */

.my-contact{
	background-image: url(../static/up.jpg);
	background-size: cover;
	background-blend-mode: multiply;
	text-align: center;
	margin-top: 50px;
}

.my-contact-subtitle{
	text-align: center;
	margin-top: 30px;
	padding: 1em;
}



/*Navigation Section */

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
 
}

.navbar a{
  display: flex;
  color: var(--clr-accent);
  padding: 10px 12px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: var(--clr-accent);
  color: black;

 }
 

.contact {
	margin: 70px 0;
	text-align: center;

}

.btn + .btn {
	margin: 0 1em;
	text-align: center;
}

.skills
{
    font-size: .6em;
    color: white;

}

.story {
	font-size: 15px;
}


/* ---------------

Section Styles


---------------*/

@media (max-width: 1024px) {
	.portfolio {
		padding: 1em;
	}
	.section__title {
		font-size: 1.5em;
	}

	.section__subtitle {
		font-size: 1em;
	}
}






/* ALL CODES GOTTEN FROM JULIA NIKULSKI WEBSITE */


/* My Learning Path*/
.home-content
{
    margin: 40px 0 70px 0;
    text-align: center;
}

.container
{
    min-height:100%;
    min-width:100%;
    background-color: black;
}

.timeline {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    background-color: var(--clr-accent);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: 1px;
}

.container-timeline {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container-timeline::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: var(--clr-dark);
  border: 4px solid #DAA520;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 5;
  right: 30px;
  border: medium solid #DAA520;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #DAA520;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 5;
  left: 30px;
  border: medium solid #DAA520;
  border-width: 10px 10px 10px 0;
  border-color: transparent #DAA520 transparent transparent;
}


/* Fix the circle for containers on the right side */
.right::after {
  left: -8px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: var(--clr-dark);
  position: relative;
  border: 2px solid #DAA520;
  border-radius: 6px;
}
.content li {
	padding: 1em 0;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 800px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
    margin-left: -5px;
  }                                                                              

/* Full-width containers */
.container-timeline {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
.container-timeline::before {
  left: 60px;
  border: medium solid #DAA520;
  border-width: 10px 10px 10px 0;
  border-color: transparent #DAA520 transparent transparent;
}

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }


/* Footer Section */

.copyright {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 0.5rem;
}

footer {
    margin-top: 20px;
}


.site-header .navbar-nav .nav-link {
  color: #DAA520;
}

.site-header .navbar-nav .nav-link:hover {
  color: #DAA520;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.topnav-right {
  right:0;
}

}