*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
  display: block;
}

@font-face {
  font-family: Eina;
  src: url("https://res.cloudinary.com/dahn8uiyc/raw/upload/v1610451593/assets/Eina01-Regular_eqvojd.otf") format("opentype");
}
@font-face {
  font-family: Eina-bold;
  src: url("https://res.cloudinary.com/dahn8uiyc/raw/upload/v1610451593/assets/Eina01-Bold_sdssoc.otf") format("opentype");
}
body {
  width: 100%;
  min-height: 100vh;
  font-family: inherit;
  padding: 0 10% 5% 10%;
  scroll-behavior: auto;
  line-height: 1.5;
}

.d-flex {
  display: flex !important;
}

.text-align-center {
  text-align: center !important;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-evenly {
  justify-content: space-evenly !important;
}

.justify-content-center {
  justify-content: center !important;
}

.meta_img {
  width: 6rem !important;
  height: 6rem !important;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.c-green {
  background-color: lime;
}

.c-blue {
  background-color: #1074E7;
}

.c-yellow {
  background-color: #ff2;
}

.c-orange {
  background-color: orange;
}

.mr-1 {
  margin-right: 0.5rem;
}

.hero_img_container {
  width: auto;
  height: auto;
  background-color: rgba(153, 160, 151, 0.5);
  top: 8rem;
  left: 70%;
  padding: 1rem 0.5rem 0 0.5rem;
  border-radius: 100%;
}
.hero_img_container .hero_img {
  width: 130px;
  height: 130px;
  top: -30px;
  left: 10px;
  -o-object-fit: fill;
     object-fit: fill;
  z-index: 2;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.ze {
  top: 85px;
  left: 0;
}
.ze img {
  width: 40px;
  height: 200px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-direction-column {
  flex-direction: column !important;
}

.align-items-center {
  align-items: center !important;
}

.d-none {
  display: none;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.site-header {
  padding: 0.5rem 0;
  margin: 2rem 0;
  width: 100%;
}
.site-header .nav_bar_lg {
  width: inherit;
}
.site-header .nav_bar_lg .desktop_nav_menu .nav_li {
  font-family: Eina, -apple-system, Arial, Helvetica, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  font-weight: 600;
  color: #555;
  margin-right: 1.5rem;
  font-size: 0.9rem;
  padding: 0.25rem 0;
}
.site-header .nav_bar_lg .desktop_nav_menu .nav_li:hover {
  border-bottom: 3.5px solid #1074E7;
}
.site-header .nav_bar_lg .m-nav-toggle-container .navbar-toggler {
  display: none;
}
.site-header .nav_bar_lg .m-nav-toggler-close .navbar-toggler-close {
  display: none;
}

.mobile_nav_menu {
  display: none;
}

.port-intro {
  margin: 1rem 0;
}
.port-intro .my-port {
  font-size: 0.9rem;
  font-family: Eina, -apple-system, Arial, Helvetica, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #555;
  line-height: 1.5;
}

.p-home-container {
  position: relative;
  margin: 0.5rem 0;
  height: auto;
}
.p-home-container .hero_text {
  font-size: 3rem;
  font-family: Eina-bold, -apple-system, Arial, Helvetica, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: inherit;
  margin: 5rem 0 2rem 0;
}
.p-home-container .hero_text_summary {
  margin: 0 0 2rem 0;
}
.p-home-container .hero_text_summary .intro_text {
  font-size: 1rem;
  font-family: Eina, -apple-system, Arial, Helvetica, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: inherit;
  color: #586069;
  z-index: 4;
}
.p-home-container .cta_btn_container {
  display: block;
  outline: none;
  width: 150px;
}
.p-home-container .cta_btn_container .cta_link {
  text-decoration: none;
}
.p-home-container .cta_btn_container .cta_link .cta_button {
  background-color: #555;
  padding: 0.8rem 1rem;
  border-radius: 0.6rem;
}
.p-home-container .cta_btn_container .cta_link .cta_button .cta_link_text {
  color: #fff;
  font-size: 0.9rem;
  font-family: Eina, -apple-system, Arial, Helvetica, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.p-home-container .cta_btn_container .cta_link .cta_button .icon-caret-left {
  background-color: white;
  display: flex;
  border-radius: 100%;
  margin-left: 0.5rem;
  align-items: center;
  padding: 0.03rem;
}
.p-home-container .cta_btn_container .cta_link .cta_button .icon-caret-left svg {
  color: transparent;
}

.portfolio-intro {
  margin: 2rem 0;
}
.portfolio-intro .portfolio_intro_text {
  font-family: Eina, -apple-system, Arial, Helvetica, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #586069;
  font-size: 0.9rem;
}

.my-work .portfolio_title {
  font-family: Eina-bold, -apple-system, Arial, Helvetica, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  line-height: 1.5;
  margin: 1rem 0;
}
.my-work .portfolio_container {
  width: 100%;
  height: auto;
  margin: 2rem 0;
}
.my-work .portfolio_container .portfolio_items {
  border: 1px solid gainsboro;
  width: 45%;
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 1.3rem;
}
.my-work .portfolio_container .portfolio_items .portfolio_thumbnail {
  margin-right: 0.6rem;
}
.my-work .portfolio_container .portfolio_items .portfolio_detail .title {
  margin: 0.4rem 0;
  color: black;
  font-family: Eina-bold, -apple-system, Arial, Helvetica, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
}
.my-work .portfolio_container .portfolio_items .portfolio_detail .description {
  margin: 0.4rem 0;
  font-family: Eina, -apple-system, Arial, Helvetica, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.8rem;
  color: #586069;
}
.my-work .portfolio_container .portfolio_items .portfolio_detail .languages {
  margin: 1rem 0;
  font-family: Eina, -apple-system, Arial, Helvetica, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
  font-size: 0.8rem;
}
.my-work .portfolio_container .portfolio_items .portfolio_detail .links {
  margin: 0.5rem 0;
}
.my-work .portfolio_container .portfolio_items .portfolio_detail .links .blog_link {
  margin: 0 1rem 0 0;
}
.my-work .portfolio_container .portfolio_items .portfolio_detail .links .blog_link a {
  text-decoration: none;
  font-family: Eina, -apple-system, Arial, Helvetica, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
}
.my-work .portfolio_container .portfolio_items .portfolio_detail .links .blog_link a:hover {
  color: #1074E7;
}
.my-work .portfolio_container .portfolio_items .portfolio_detail .links .github a {
  text-decoration: none;
  font-family: Eina, -apple-system, Arial, Helvetica, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.my-work .portfolio_container .portfolio_items .portfolio_detail .links .github a:hover {
  color: #1074E7;
}

.about-me .skill_tags {
  margin: 0.6rem 0;
  background-color: #f1f4f8;
}
.about-me .skill_tags .tags {
  font-size: 0.9rem;
  font-family: Eina, -apple-system, Arial, Helvetica, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.profile_container {
  margin: 2rem 0;
}
.profile_container .details_left {
  margin-right: 4rem;
}
.profile_container .details_left .avatar_container {
  margin-bottom: 2rem;
}
.profile_container .details_left .avatar_container img {
  width: 250px;
  height: 250px;
  -o-object-fit: fill;
     object-fit: fill;
}
.profile_container .details_left .profile_basic_data .p_data .p-sub_head {
  font-family: Eina-bold, -apple-system, Arial, Helvetica, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0.6rem 0;
}
.profile_container .details_left .profile_basic_data .p_data .p_data_content {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  font-family: Eina, -apple-system, Arial, Helvetica, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.profile_container .details_left .profile_basic_data .p_data .p_data_content .icons_svg {
  margin-right: 0.3rem;
}
.profile_container .details_left .profile_basic_data .p_data p {
  font-family: Eina, -apple-system, Arial, Helvetica, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.8rem;
}
.profile_container .details_right .about-readme {
  width: 100%;
  margin-bottom: 1rem;
}
.profile_container .details_right .about-readme .readme_text {
  font-family: Eina, -apple-system, Arial, Helvetica, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.9rem;
  font-line-height: 1.5;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.profile_container .details_right .skill_box {
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
}
.profile_container .details_right .skill_box .skill_heading {
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  font-family: Eina-bold, -apple-system, Arial, Helvetica, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}
.profile_container .details_right .skill_box .skill_list {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}
.profile_container .details_right .skill_box .skill_list .skill_sub_heading {
  margin-top: 0.6rem;
  margin-bottom: 0.8rem;
  font-family: Eina-bold, -apple-system, Arial, Helvetica, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.profile_container .details_right .skill_box .skill_list .skill_sub_heading_1 {
  font-family: Eina-bold, -apple-system, Arial, Helvetica, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.profile_container .details_right .skill_box .skill_list .skill_data {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}
.profile_container .details_right .skill_box .skill_list .skill_data .skill_lang {
  display: flex;
  margin: 0.2rem 0;
  font-size: 0.9rem;
  font-family: Eina, -apple-system, Arial, Helvetica, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  align-items: center;
}
.profile_container .details_right .skill_box .skill_list .skill_data .skill_lang .skill_color {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  margin: 0 0.3rem 0 0;
}
.profile_container .details_right .skill_box .skill_list .skill_data .skill_progress_box {
  margin: 0.1rem 0;
  height: 0.9rem;
  border-radius: 1rem;
  background-color: #f1f4f8;
}
.profile_container .details_right .skill_box .skill_list .skill_data .skill_progress_box .skill_progress_count {
  background-color: #809cf0;
  height: 0.9rem;
  border-radius: inherit;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
}
.profile_container .details_right .timeline_heading {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
.profile_container .details_right .timeline_heading h3 {
  text-align: center;
  font-family: Eina-bold, -apple-system, Arial, Helvetica, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.profile_container .details_right .timeline_box {
  padding: 1rem 1.5rem;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.profile_container .details_right .timeline_box .timeline-badge {
  margin-right: 1rem;
  margin-top: 1rem;
  margin-left: 0.5rem;
  position: absolute;
  left: 0;
}
.profile_container .details_right .timeline_box .timeline-badge::after {
  content: " ";
  width: 0.1rem;
  height: 7rem;
  background-color: gainsboro;
  position: absolute;
  top: 1.2rem;
  left: 0.5rem;
}
.profile_container .details_right .timeline_box .timeline-badge::before {
  content: " ";
  width: 0.1rem;
  height: 1rem;
  background-color: gainsboro;
  position: absolute;
  top: -1.2rem;
  left: 0.5rem;
}
.profile_container .details_right .timeline_box .timelinebody {
  border: 1px solid gainsboro;
  position: relative;
  margin: 1rem 0;
  width: 100%;
  margin-left: 1rem;
  padding: 1rem;
}
.profile_container .details_right .timeline_box .timelinebody .timeline_sub_heading p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  margin: 0 0 0.3rem 0;
}
.profile_container .details_right .timeline_box .timelinebody .timeline_date p {
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.profile_container .details_right .timeline_box .timelinebody .timeline_data a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
  text-decoration: underline;
  font-size: 0.9rem;
  margin: 0.3rem 0;
}
.profile_container .details_right .timeline_box .timelinebody .timeline_data a:hover {
  color: #1074E7;
}
.profile_container .details_right .timeline_box .timelinebody .timeline_data a:active {
  color: red;
}
.profile_container .details_right .timeline_box .timelinebody .timeline_data p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 0.5rem;
  font-size: 0.8rem;
}
.profile_container .details_right .timeline_box .timelinebody .timeline_data p::before {
  content: " - ";
}
.profile_container .details_right .timeline_box .timelinebody::before {
  content: " ";
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  border-right: 0.5rem solid gainsboro;
  position: absolute;
  left: -0.5rem;
}

.sub_heading {
  font-family: Eina-bold, -apple-system, Arial, Helvetica, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  margin: 2rem 0;
  text-align: center;
}

.my-contact-subtitle {
  font-family: Eina, -apple-system, Arial, Helvetica, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
  color: #586069;
}

.contact {
  margin: 3rem 0;
  line-height: 1.5;
}
.contact .contact_link {
  font-family: Eina, -apple-system, Arial, Helvetica, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  color: #586069;
  font-size: 0.9rem;
  margin-right: 1rem;
}
.contact .contact_link img {
  width: 1rem;
  height: 1rem;
}
.contact .contact_link:hover {
  color: #1074E7;
}

.p-footer {
  margin: 1rem 0;
}
.p-footer .footer_credit {
  margin-right: 10%;
  margin-left: 10%;
  text-align: center;
  height: auto;
}
.p-footer .footer_credit p {
  font-family: Eina, -apple-system, Arial, Helvetica, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.9rem;
}

@media screen and (max-width: 750px) {
  body {
    width: 100%;
  }

  .site-header .nav_bar_lg .desktop_nav_menu {
    display: none;
  }
  .site-header .nav_bar_lg .m-nav-toggle-container .navbar-toggler {
    display: block;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    outline: none;
  }
  .site-header .nav_bar_lg .m-nav-toggler-close .navbar-toggler-close {
    display: none;
    font-size: 2rem;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    outline: none;
  }

  .mobile_nav_menu {
    padding: 1rem 0;
    display: none;
    width: 80%;
    background-color: #555;
    position: fixed;
    top: 6rem;
    height: auto;
    z-index: 6;
    overflow-x: hidden;
    margin: auto 0;
  }
  .mobile_nav_menu .nav_items {
    display: block;
  }
  .mobile_nav_menu .nav_items .m_nav_link {
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    margin: 0.6rem 0;
    padding: 0.3rem 1rem;
  }

  .portfolio-intro .portfolio_intro_text {
    font-size: 1rem;
  }

  .my-work .portfolio_container {
    width: 100%;
  }
  .my-work .portfolio_container .portfolio_items {
    width: 100%;
    margin: 0.5rem 0;
    flex-direction: column;
  }
  .my-work .portfolio_container .portfolio_items .portfolio_thumbnail {
    width: 100% !important;
    height: auto !important;
    margin: 0;
  }
  .my-work .portfolio_container .portfolio_items .portfolio_detail .title {
    font-size: 1.2rem;
  }
  .my-work .portfolio_container .portfolio_items .portfolio_detail .description {
    font-size: 1rem;
  }
  .my-work .portfolio_container .portfolio_items .portfolio_detail .languages {
    font-size: 1rem;
  }

  .meta_img {
    width: 100% !important;
    height: auto !important;
    -o-object-fit: cover !important;
       object-fit: cover !important;
  }

  .my-contact-subtitle {
    font-size: 1rem;
  }

  .profile_container {
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start !important;
  }
  .profile_container .details_left {
    margin-right: 0rem;
    margin-bottom: 3rem;
  }
  .profile_container .details_left .avatar_container {
    width: 100%;
    height: 250px;
  }
  .profile_container .details_right .about-readme {
    margin-bottom: 1rem;
  }
  .profile_container .details_right .about-readme .readme_text {
    margin-bottom: 1rem;
  }

  .p-home-container {
    margin: 0 0 3rem 0;
  }
  .p-home-container .hero_text {
    margin: 4rem 0 3rem 0;
    font-size: 2rem;
  }
  .p-home-container .hero_text_summary .intro_text {
    font-size: 0.95rem;
  }
  .p-home-container .m-image {
    display: block;
    margin: 1rem 0;
    width: 100%;
  }
  .p-home-container .m-image .m_hero_img {
    width: 100%;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .p-home-container .cta_btn_container {
    width: 70%;
    justify-content: center !important;
  }
  .p-home-container .hero_img_container {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */
