{% extends "base.html" %}
{% block content %}
<main class="award_page">
    <div class="awards">
        <div class="award">
            <div class="award_content">
                <div class="img"><img src="/static/DSN_award.jpg"></div>
                <h3>
                    <a href="https://twitter.com/DataScientistsN/status/1327670915321229313?s=20&t=iL0X8izNlHr1GDC0IoT9Ww">Ms. Algorithm Award 2020</a>
                </h3>
                <p>Data Science Nigeria, Retina AI</p></div>
        </div>
        <div class="award">
            <div class="award_content">
                <div class="img">
                    <img src="/static/mentorofyear.jpg">"
                </div>
                <h3>
                    <a href="https://www.linkedin.com/posts/kolawole-precious-8723b2198_precious-kolawole-nominated-for-the-womentech-activity-6853346993192910849-PJ72">Mentor of the Year, Global Ambassador, Global Conference Speaker Award</a>
                </h3>
                <p>Women Tech Network.</p>
            </div>
        </div>
    </div>
    <div class="awards">
        <div class="award">
            <div class="award_content">
                <div class="img"><img src="/static/WTM-hackathon.jpg"></div>
                <h3>
                    <a href="https://www.linkedin.com/posts/kolawole-precious-8723b2198_wtm9ja-womenintechnology-activity-6832516399403941888-Zlq4">
                        3rd Place winner
                    </a>
                </h3>
                <p>Women Tech Maker 9ja 2021 Hackathon</p>
            </div>
        </div>
        <div class="award">
            <div class="award_content">
                <div class="img"><img src="/static/zindiaward.jpg"></div>
                <h3>
                    <a href="https://zindi.africa/users/Precillieo/competitions/certificate">
                        1st Place Winner
                    </a>
                </h3>
                <p>Zindi Women Mentorship Cohort 2 Hack for Safety</p></div>
        </div>
    </div>
</main>
{% endblock %}
