<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- facebook opengraph -->
	<meta property="og:title" content="Precious Kolawole">
	<meta property="og:description" content="I'm a Data Scientist and a Machine Learning Engineer">
	<meta property="og:site_name" content="Precious Kolawole">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://precillieo.herokuapp.com/home">
	<meta property="og:image" content="">

    <!-- twitter cards -->
	<meta name="twitter:site" content="@precillieo">
	<meta name="twitter:title" content="Precious Kolawole">
	<meta name="twitter:creator" content="@precillieo">
	<meta name="twitter:description" content="I'm a Data Scientist and a Machine Learning Engineer">
	<meta name="twitter:img" content="static/hero.jpg">
	<meta name="twitter:card" content="summary">

    <link rel="stylesheet" type="text/css" href="static/style.css">
    <title>Precillieo's Portfolio</title>
</head>

<body>
    <section class="split left">
        <div class="centered">
            <img src="hero.jpg" alt="Picture of me">
        </div>
        
    </section>
    <section class="split right">
        <div class="centered">
            <h1>Precious Kolawole Hello, I'm Precious Kolawole. I'm a Data Scientist and a Machine Learning Engineer.</h1>
            <br>
            <p>Hello, I'm Precious Kolawole. I'm a Data Scientist and a Machine Learning Engineer.
            </p>
        </div>
    </section>
    <script src="static/mains.js"></script>
</body>

</html>