{% extends "nav.html" %}
{% block content %}
<div class="left">
    <img class="left" src="static/hero.jpg" alt="picture of me">
</div>
<div class="right">
    <div class="container">
        <h1>PRECILLIEO</h1>
        <p>Hi, I am Precious Kolawole.</p> 
        <p>I am an adept Data Scientist, proficient in Machine Learning, Deep Learning
            and Software Engineering for Data Science with a track record
            of products and solutions in the industry and community.
        </p>
        <div class="socials">
            <a href="https://www.linkedin.com/in/kolawole-precious-8723b2198/"><i class="fa-brands fa-linkedin-in fa-xl"></i></a>
            <a href="https://twitter.com/precillieo"><i class="fa-brands fa-twitter fa-xl"></i></a>
            <a href="https://precillieo.medium.com/"><i class="fa-brands fa-medium fa-xl"></i></a>
            <a href="https://github.com/Precillieo"><i class="fa-brands fa-github fa-xl"></i></a>
            <a href="https://precillieo.hashnode.dev/"><i class="fa-brands fa-hashnode fa-xl"></i></a>
            <a href="https://www.instagram.com/precillieo/"><i class="fa-brands fa-instagram fa-xl"></i></a>
            <a href="https://www.youtube.com/channel/UCRuQ2z4TapeyNBPx0WT8ZbA"><i class="fa-brands fa-youtube fa-xl"></i></a>
        </div>
    </div>
</div>
{% endblock %}