{% extends "base.html" %}
{% block content %}

<section class="blog">
    <div class="blogs">
        <a href="https://precillieo.medium.com/set-up-your-ml-model-for-deployment-dc53b328842a">
            <h3>Set up your Machine Learning Models for Deployment</h3>
        This article is dedicated to those that’d like to learn how to build end-to-end data science and machine learning projects.
        </a>
        
    </div>

    <div class="blogs">
        <a href="https://towardsdatascience.com/first-steps-into-building-your-data-science-portfolio-website-94c3443597ff">
            <h3>First Steps into Building your Data Science Portfolio Website</h3>
            Data scientists complain about how uneasy it is to secure a data science job. 
            Meanwhile, if you’re someone like me who doesn’t possess any relevant degree in Technology, then the idea of building a portfolio website of your own should hit your mind.
        </a>
    </div>
</section>

<section class="blog">
    <div class="blogs">
        <a href="https://medium.com/swlh/convolutional-neural-network-for-detecting-cancer-tumors-in-microscopic-images-1acab6481d05">
            <h3>Convolutional Neural Network for Detecting Cancer Tumors in Microscopic Images</h3>
            See how we built Elixir, an AI-Based Diagnosis System that helped to increase the speed, reliability, and accuracy of cancer detection while tackling the problem of low doctors to patients ratio in Tanzania. 
        </a>
    </div>
    
    <div class="blogs">
        <a href="https://medium.com/nerd-for-tech/build-quick-models-with-dabl-d886ebafe895">
            <h3>Build Quick Models with DABL</h3>
            A tutorial on how to clean, preprocess, visualize and build machine learning models in three lines of code. 
        </a>
    </div>
</section> 

<section class="blog">
    <div class="blogs">
        <a href="https://precillieo.medium.com/get-your-python-flask-app-deployed-in-a-swift-6fd653009e4">
            <h3>Get your Flask App Deployed in a Swift</h3>
            Heroku shows its face where it matters. Here is a step by step tutorial on how to deploy your flask application on Heroku
        </a>
    </div>
    
    <div class="blogs">
        <a href="https://precillieo.medium.com/struggling-to-annex-google-colab-in-building-your-machine-learning-models-9e579630e095">
            <h3>Struggling to Annx Google Colab in Building your Machine Learning Models?</h3>
            Remarkably, it cost an arm and a leg to get a decent GPU from existing cloud providers. 
            Learn how to build Machine Learning models without burning a hole in your pocket.
        </a>
    </div>
</section>   

<section class="blog">
    <div class="blogs">
        <a href="https://medium.com/aiplusoau/how-to-use-kaggle-and-google-colab-notebooks-with-gpu-enabled-c2a1512cd4f">
            <h3>How to Use Kaggle and Google Colab Notebooks with GPU Enabled</h3>
            One of the biggest hurdles of democratizing deep learning has been the need for a GPU accelerated environment. 
            Learn how to decipher and solve DL problems without the need to buy a GPU.
        </a>
    </div>

    <div class="blogs">
        <a href="https://medium.com/aiplusoau/mathematical-concepts-of-data-science-b57b5bdcb881">
            <h3>Mathematical Concept of Data Science</h3>
            Basic overview of the probability and statistics you’d need on your journey to become a world class data scientist.
        </a>
    </div>
</section>

<section class="blog">
    <div class="blogs">
        <a href="https://medium.com/aiplusoau/mathematical-concepts-of-data-science-b57b5bdcb881">
            <h3>Probability and Statistics in Data Science</h3>
            Learn more about compound probabilities (Set Theory, Permutation, Combination)
        </a>
    </div>
    
    <div class="blogs">
        <a href="https://python.plainenglish.io/diving-into-jupyter-notebook-for-data-science-f387d028c401">
            <h3>Diving Into Using Jupyter Notebooks for Data Science</h3>
            If you want to work with data, accessing the Jupyter Notebok should be your new focus.
            Learn and grasp the usual workflow of Jupyter Notebook
        </a>
    </div>
</section>   

<section class="blog">
    <div class="blogs">
        <a href="https://medium.datadriveninvestor.com/learn-object-oriented-programming-oop-in-minutes-18d9f957b387">
            <h3>Learn Object-Oriented Programming(OOP) in Minutes</h3>
            Understand the most natural and pragmatic approach.
            Once you get a hang of it, implement real-world problems by delving deeper into Python Programming. 
        </a>   
    </div>
    
    <div class="blogs">
        <a href="https://medium.datadriveninvestor.com/can-you-predict-customers-loan-default-using-machine-learning-be774489b8f5">
            <h3>Can You Predict Customers' Loan Defaults Using Machine Learning?</h3>
            Learn how to use Machine Learning Algorithms in predicting which customers will default on their loans based on their financial information and historical data. 
        </a>
    </div>
</section> 

<section class="blog">
    <div class="blogs">
        <a href="https://precillieo.medium.com/the-power-bi-starter-pack-ff011ee7130 ">
            <div>
                <h3>The Power BI Starter Pack</h3>
                This aims to give you a basic overview and a solid understanding of the Power BI concept.
        </a>
    </div>
    
    <div class="blogs">
        <a href="https://precillieo.medium.com/generating-insights-from-covid-19-data-using-power-bi-a6225f51486b">
            <div>
                <h3>Generating Insights from Covid-19 Data using Power BI</h3>
                This article focuses mainly on a step by step approach on how to visualize data using Power BI.
        </a>
    </div>
</section>

<section class="blog">
    <div class="blogs">
        <a href="https://precillieo.medium.com/agony-of-a-dark-skinned-chap-ac1072512eba">
            <h3>Agony of a Dark Skinned Chap
                _ The dangerous cultural obsession</h3>
        </a>
    </div>
</section>

{% endblock %}