{% extends "base.html" %}
{% block content %}
<main class="blogs">
    <div class="blog-row">
        <div class="col 1">
            <h2><a href="https://precillieo.medium.com/set-up-your-ml-model-for-deployment-dc53b328842a">Set up your Machine Learning Models for Deployment</a></h2>
            <p>
                This article is dedicated to those that'd like to learn how to build end-to-end data science and machine learning projects.
            </p>
        </div>
        <div class="col 2">
            <h2><a href="https://towardsdatascience.com/first-steps-into-building-your-data-science-portfolio-website-94c3443597ff">First Steps into Building your Data Science Portfolio Website</a></h2>
            <p>
                Data scientists complain about how uneasy it is to secure a data science job. 
                Meanwhile, if you're someone like me who doesn't possess any relevant degree in Technology, then the idea of building a portfolio website of your own should hit your mind.
            </p>
            
    
        </div>
    </div>
    <br>
    <div class="blog-row">
        <div class="col 1">
            <h2><a href="https://medium.com/swlh/convolutional-neural-network-for-detecting-cancer-tumors-in-microscopic-images-1acab6481d05">Convolutional Neural Network for Detecting Cancer Tumors in Microscopic Images</a></h2>
            <p>
                See how we built Elixir, an AI-Based Diagnosis System that helped to increase the speed, reliability, and accuracy of cancer detection while tackling the problem of low doctors to patients ratio in Tanzania. 
            </p>
        </div>
        <div class="col 2">
            <h2><a href="https://medium.com/nerd-for-tech/build-quick-models-with-dabl-d886ebafe895">Build Quick Models with DABL</a></h2>
            <p>
                A tutorial on how to clean, preprocess, visualize and build machine learning models in three lines of code. 
            </p>
        </div>
    </div>
    <br>
    <div class="blog-row">
        <div class="col 1">
            <h2><a href="https://precillieo.medium.com/get-your-python-flask-app-deployed-in-a-swift-6fd653009e4">Get your Flask App Deployed in a Swift</a></h2>
            <p>
                Heroku shows its face where it matters. Here is a step by step tutorial on how to deploy your flask application on Heroku.
            </p>
        </div>
        <div class="col 2">
            <h2><a href="https://precillieo.medium.com/struggling-to-annex-google-colab-in-building-your-machine-learning-models-9e579630e095">Struggling to Annx Google Colab in Building your Machine Learning Models?</a></h2>
            <p>
                Remarkably, it cost an arm and a leg to get a decent GPU from existing cloud providers. Learn how to build Machine Learning models without burning a hole in your pocket.
            </p>
        </div>
    </div>
    <br>
    <div class="blog-row">
        <div class="col 1">
            <h2><a href="https://medium.com/aiplusoau/how-to-use-kaggle-and-google-colab-notebooks-with-gpu-enabled-c2a1512cd4f">How to Use Kaggle and Google Colab Notebooks with GPU Enabled</a></h2>
            <p>
                One of the biggest hurdles of democratizing deep learning has been the need for a GPU accelerated environment. 
                Learn how to decipher and solve DL problems without the need to buy a GPU.
            </p>
        </div>
        <div class="col 2">
            <h2><a href="https://medium.com/aiplusoau/mathematical-concepts-of-data-science-b57b5bdcb881">Mathematical Concept of Data Science</a></h2>
            <p>
                Basic overview of the probability and statistics you’d need on your journey to become a world class data scientist.
            </p>
        </div>
    </div>
    <br>
    <div class="blog-row">
        <div class="col 1">
            <h2><a href="https://medium.com/aiplusoau/mathematical-concepts-of-data-science-b57b5bdcb881">Probability and Statistics in Data Science</a></h2>
            <p>
                Learn more about compound probabilities (Set Theory, Permutation, Combination)             
            </p>
        </div>
        <div class="col 2">
            <h2><a href="https://python.plainenglish.io/diving-into-jupyter-notebook-for-data-science-f387d028c401">Diving Into Using Jupyter Notebooks for Data Science</a></h2>
            <p>
                If you want to work with data, accessing the Jupyter Notebok should be your new focus. Learn and grasp the usual workflow of Jupyter Notebook
            </p>
        </div>
    </div>
    <br>
    <div class="blog-row">
        <div class="col 1">
            <h2><a href="https://medium.datadriveninvestor.com/learn-object-oriented-programming-oop-in-minutes-18d9f957b387">Learn Object-Oriented Programming(OOP) in Minutes</a></h2>
            <p>
                Understand the most natural and pragmatic approach. Once you get a hang of it, implement real-world problems by delving deeper into Python Programming. 
            </p>
        </div>
        <div class="col 2">
            <h2><a href="https://medium.datadriveninvestor.com/can-you-predict-customers-loan-default-using-machine-learning-be774489b8f5">Can You Predict Customers’ Loan Defaults Using Machine Learning</a></h2>
            <p>
                Learn how to use Machine Learning Algorithms in predicting which customers will default on their loans based on their financial information and historical data.
            </p>
        </div>
    </div>
    <br>
    <div class="blog-row">
        <div class="col 1">
            <h2><a href="https://precillieo.medium.com/the-power-bi-starter-pack-ff011ee7130">The Power BI Starter Pack</a></h2>
            <p>
                This aims to give you a basic overview and a solid understanding of the Power BI concept.
            </p>
        </div>
        <div class="col 2">
            <h2><a href="https://precillieo.medium.com/generating-insights-from-covid-19-data-using-power-bi-a6225f51486b">Generating Insights from Covid-19 Data using Power BI</a></h2>
            <p>
                This article focuses mainly on a step by step approach on how to visualize data using Power BI.
            </p>
        </div>
    </div>
</main>


{% endblock %}