{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col 1">
        <h2>Zindi</h2>
        <p class="role">Role: Data Science Mentor</p>
        <p>
            <a href="https://zindi.africa/">Zindi </a>is the largest community of African Data Scientists, working to solve the world's most pressing challenges using machine learning and AI.
            I'm a Data Science Mentor of 3 amazing ladies from different countries in Africa for the Zindi Mentorship Program Cohort 2 who have paid it forward by teaching other women.
        </p>
    </div>
    <div class="col 2">
        <h2>She Code Africa</h2>
        <p class="role">Role: Data Science Mentor</p>
        <p>
            At <a href="https://shecodeafrica.org/">SCA</a>, we solely aimed at building an Africa where women are equally represented across all career roles in Technology. I am represented as a Data Science Mentor and our ladies range from those who started their journey from scratch to landing internships/jobs with companies.
        </p>
        

    </div>
</div>
<hr>
<div class="row">
    <div class="col 1">
        <h2>Women Tech Network</h2>
        <p class="role">Role: Global Ambassador, Machine Learning Mentor</p>
        <p>
            <a href="https://www.womentech.net/">Women Tech Network</a> is a global platform powered by Coding Girls, Tech Family Ventures and Tallocate promoting diversity in tech, leadership and entrepreneurship. We are on a mission to unite 100,000 women in tech to discuss things that matter. I get apportioned new mentees to train and nurture every year on the path to becoming data scientists and machine learning engineers. 
        </p>
    </div>
    <div class="col 2">
        <h2>Open Source Community Africa</h2>
        <p class="role">Role: Chapter Lead</p>
        <p>
            A <a href="https://oscafrica.org/">community</a> of creative minds driving the Open Source movement in Africa. 
            My role as the new chapter lead was to bring a group of people together, organize and facilitate meetups, evangelize open source while creating an environment of support in the possible areas of challenges faced by the members.
            We are a community of 250 members, 45% of whom are women, with about 100 being active contributors.
        </p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col 1">
        <h2>Data Scientist Networks, OAU</h2>
        <p class="role">Role: Team Lead</p>
        <p>
            A beneficial <a href="https://www.datasciencenigeria.org/">platform</a> to learn and maximise the opportunities that Artificial Intelligence presents for individual capacity building and the collective socio economic development of our country Nigeria. 
            I Preached AI, organized training & groomed students to be work pool-standard for recruitment. 
        </p>
    </div>
    <div class="col 2">
        <h2>Program: Road To GDE</h2>
        <p class="role">Role: Mentee</p>
        <p> A community <a href="https://developers.google.com/community/experts">program</a> to help mentees become an expert in the field they are 
            already passionate about and prepare them throughout 3 months of mentoring experience
            to submit an application for the Google Developer Experts Program.
        </p>
    </div>
</div>
{% endblock %}











