{% extends "layout.html" %}
{% block content %}
<h3 class="my-port">Let's talk about everything</h3>

<p class="my-contact-subtitle">I stay in Abeokuta, schooling at Ile-Ife. I'm available to work either remotely or travel
	to your location, I'm at everyone's beck and call(for now) for consulting engagements, speaking, project request,
	hackathons, Tech Events and Conferences. To improve my coding skills, gain early experience, engage in community
	building, help more beginners in tech, build public artifacts, community and greater job prospect. I'm getting
	started in Open Source Contribution. Reach out to me on below social media channels.</p>


<div class="contact">
	<a target="_blank" class="contact_link" href="https://github.com/Precillieo">GitHub</a>
	<a target="_blank" class="contact_link" href="https://twitter.com/precillieo">Twitter</a>
	<a target="_blank" class="contact_link" href="https://www.linkedin.com/in/kolawole-precious-8723b2198/">LinkedIn</a>

</div>
{% endblock %}