{% extends "layout.html" %}
{% block content %}

<section class="p-home-container">
	<h1 class="hero_text">
		Hi, I am Precious Kolawole
	</h1>
	<div class="hero_text_summary">
		<p class="intro_text">I am a Hobby Programmer and a Data Scientist<br>
			I learned how to code with different online and<br>offline courses, StackOverflow, trials and errors.<br>
			I'm particularly interested in the intersection <br>of Artificial Intelligence and Health.</p>
	</div>
	<div class="cta_btn_container">
		<a href="{{url_for('portfolio')}}" class="cta_link">
			<div class="cta_button d-flex align-items-center">
				<p class="cta_link_text">See my works</p>
				<div class="icon-caret-left"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"
						height="16">
						<path fill-rule="evenodd"
							d="M6.22 3.22a.75.75 0 011.06 0l4.25 4.25a.75.75 0 010 1.06l-4.25 4.25a.75.75 0 01-1.06-1.06L9.94 8 6.22 4.28a.75.75 0 010-1.06z">
						</path>
					</svg></div>
			</div>
		</a>
	</div>
	<div class="hero_img_container position-absolute">
		<img src="static/propict.jpg" class="hero_img position-relative" alt="picture of Precious'face">
	</div>

</section>
<!-- <footer class="p-footer d-flex justify-content-center">
	<div class="footer_credit">
		<p>Copyright &copy; <span class="currentYear"></span> | Web app built by 18 years old
			Data Scientist</p>
	</div>
</footer> -->
{% endblock %}