<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

	<!-- facebook opengraph -->
	<meta property="og:title" content="Precious Kolawole">
	<meta property="og:description" content="Am a data scientist and a machine learning engineer">
	<meta property="og:site_name" content="Precious Kolawole">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://precillieo.herokuapp.com/home">
	<meta property="og:image" content="static/propict.jpg">



	<!-- twitter cards -->
	<meta name="twitter:site" content="@precillieo">
	<meta name="twitter:title" content="Precious Kolawole">
	<meta name="twitter:creator" content="@precillieo">
	<meta name="twitter:description" content="Am a data scientist and a machine learning engineer">
	<meta name="twitter:img" content="static/propict.jpg">
	<meta name="twitter:card" content="summary">


	<link rel="stylesheet" type="text/css" href="static/styles.css">

	<title>Precillieo's Portfolio</title>
</head>

<body>
	<header class="site-header" role="banner">
		<nav class="nav_bar_lg d-flex justify-space-between" role="navigation">
			<div class="desktop_nav_menu">
				<a href="{{ url_for('home') }}" class="nav_li"> Home</a>
				<a href="{{ url_for('portfolio') }}" class="nav_li">Portfolio</a>
				<a target="_blank" href="https://medium.com/@precillieo" class="nav_li">Blog</a>
				<a href="{{ url_for('about') }}" class="nav_li"> About</a>
				<a href="{{ url_for('contact') }}" class="nav_li">Contact
					Me</a>
			</div>
			<div class="m-nav-toggle-container">
				<button class="navbar-toggler" type="button" role="button" aria-controls="navbarToggle"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
							width="24" height="24">
							<path fill-rule="evenodd"
								d="M1 2.75A.75.75 0 011.75 2h12.5a.75.75 0 110 1.5H1.75A.75.75 0 011 2.75zm0 5A.75.75 0 011.75 7h12.5a.75.75 0 110 1.5H1.75A.75.75 0 011 7.75zM1.75 12a.75.75 0 100 1.5h12.5a.75.75 0 100-1.5H1.75z">
							</path>
						</svg></span>
				</button>
			</div>
			<div class="m-nav-toggler-close">
				<button class="navbar-toggler-close" type="button" role="button">
					x
				</button>
			</div>
		</nav>
	</header>

	<section class="mobile_nav_menu">
		<div class="nav_items">
			<a href="{{ url_for('home')}}" class="m_nav_link">Home</a>
			<a href="{{ url_for('portfolio')}}" class="m_nav_link">Portfolio</a>
			<a href="https://medium.com/@precillieo" target="_blank" class="m_nav_link">Blog</a>
			<a href="{{ url_for('about')}}" class="m_nav_link">About</a>
			<a href="{{ url_for('contact')}}" class="m_nav_link">Contact Me</a>
		</div>
	</section>

	{% block content %}
	{% endblock %}


	<script src="static/main.js"></script>
</body>

</html>