{% extends "base.html" %}
{% block content %}
<div class="accordion-body">
	<div class="accordion">
		<div class="pcontainer">
			<div class="label">Elixir Cancer Diagnosis AI-Based System</div>
			<div class="content">
					<p>Built a Deep Convolutional Neural Network model and a web app that screens microscopic images so as to detect cancer, thus increasing speed, accuracy in cancer diagnosis, and testing. </p>
					<p>Handed over to doctors in Tanzania's labs for tests and usage. </p>
					<p class="links"><a href="https://github.com/Precillieo/Elixir-Cancer-Diagnosis-AI-Based-System">See more on Github!</a></p>
			</div>
		</div>
	<hr>
	    <div class="pcontainer">
			<div class="label">Tackling Online Harassment Through Allies</div>
			<div class="content"> 
					<p>2 in every 5 women have experienced different forms of online harassment, my team and I built a working solution called <a href="https://safecyber.herokuapp.com/">"SafeCyber"</a> to help tackle this through alpes.</p>
					<p>Victim or friend of victim reports a case of harassment by filling the onpne form. </p>
					<p>Built a classifier model of about 80% accuracy, predicts and categorizes the form data: into harassment types and action to be taken. </p>
					<p>Form data and predictions are saved in the admin database. Records are also forwarded to the decision-makers within the ally organization. </p>
					<p>This has helped eliminate physical and emotional stress in about 1000 women. </p>
					<p class="links"><a href="https://github.com/Precillieo/SafeCyber">See more on Github!</a></p>
					<p class="links"><a href="https://youtu.be/TzCN2mVJ-WI">See more on Youtube!</a></p>
			</div>
	  	</div>
	<hr>
		<div class="pcontainer">
			<div class="label">Wikimedia Data Dump Extraction</div>
			<div class="content">
				<p>Developed an approach by working on the Wikipedia data dump, API pages, and Protection Pages.</p>
				<p>Used Python packages in decompressing and extracting data from the dump.</p>  
				<p>Did statistical analysis and sophisticated visualizations to generate insights from the data.</p> 
				<p>Moreso, stacked ml algorithms were used to predict if a protection type can be edited or moved and we achieved about 75% accuracy.</p>
				<p class="links"><a href="https://github.com/Precillieo/Outreachy-Internship-Final-Contribution">See more on Github!</a></p>
			</div>
		</div>
	<hr>
		<div class="pcontainer">
			<div class="label">Big Cities Health Data Exploratory Analysis</div>
			<div class="content">
				<p>This visualizes the health data and the indicators causing morbidity and mortality in the National, States, and the Local Agencies of the United States.</p>
				<p>The data illustrates health status of 26 of the nation's largest and most urban cities as captured by 34 Health(and six demographic-related) Indicators. 
					Public health data were captured in 9 categories: HIV/AIDS, Cancer, Nutrition/ Physical Activity/ Obesity, Food Safety, Infection Diseases, Maternal, and Child Health, Tobacco, Injury/Violence, and Health/ Substance Abuse.</p>
				<p class="links"><a href="https://github.com/Precillieo/Big-Cities-Health-Data-Analysis/blob/master/Cities%20Health%20Notebook.ipynb">See more on Github!</a></p>
				</div>
		</div>
	<hr>
		<div class="pcontainer">
			<div class="label">Smart Contracts and DAPPs</div>
			<div class="content">
				<p>Built a <a href="https://choice-coin-the-best.herokuapp.com/">functional frontend integration</a> with Algorand Python SDK that allows connection to a user's wallet via Algo Signer and AlgoMobileWallet on an Algorand Standard Asset, Choice Coin, a voting software that powers decentralized decisions built directly on the Algorand Blockchain.</p>
				<p class="links"><a href="https://github.com/Precillieo/Choice-Coin">See more on Github!</a></p>
			</div>
		</div>
	<hr>
		<div class="pcontainer">
			<div class="label">Full-Featured Web App with Flask</div>
			<div class="content">
				<p>Built a <a href="https://kola-blog.herokuapp.com/">Blogging Web App </a> with features like forms, that allows users to input and upload pictures, perform account authentication, interact with posts, reset email and password, with Blueprint, a well-configured Custom Error Pages and a Sqlalchemy Database.</p>
				<p>This was deployed on Heroku.</p>
				<p class="links"><a href="https://github.com/Precillieo/Full-Featured-Web-App-With-Flask">See more on Github!</a></p>
			</div>
	  	</div>
	<hr>
	</div>
</div>
{% endblock %}