{% extends "layout.html" %}
{% block content %}

<p class= "my-port">Data Preprocessing & Analysis, Data Visualization, Supervised Machine Learning, Deep Learning, Computer Vision, Web Development are my area of expertise- my portfolio of projects consists of different topics and I continuously expand it. One of my newest projects is this website which I built from scratch with HTML, CSS, Python and Flask. Scroll down to view the rest of my projects presented below with links to the code, blog posts and deployed projects.</p>


<section class= "my-work" id= "work">
	<h2 class= "info__title info__title--infos">Project Portfolio</h2>

	<div class="my-portfolios">
		<div class= "my-portfolio">
			<p class= "section__subtitle section__subtitle--work"><strong>Elixir Cancer Diagnosis AI-Based System</strong></p>
			<p class= "story">Went through the stages of Data Collection, Data Preprocessing. Built a model comprising of Deep Convolutional Neural Networks and a web app that screens microscopic images so as to detect cancer, thus increasing speed, accuracy in cancer diagnosis, and testing.</p>
			<small class="skills"> Skills: Python, EDA, Keras, Image Processing(Computer Vision)</small>
			<div class="portfolio__image">
				<a target="_blank" href="https://youtu.be/Pfgfh4DJToo" class="portfolio__item">
  				<img src="static/elixirthr.jpg" alt="" class="portfolio__img">
  			</a>
			</div>
			
			
			<a target="_blank" class= "btn" href="https://medium.com/swlh/convolutional-neural-network-for-detecting-cancer-tumors-in-microscopic-images-1acab6481d05">Blog</a>
			<a target="_blank" class= "btn" href="https://github.com/Precillieo/Elixir-Cancer-Diagnosis-AI-Based-System">Code on GitHub</a>
	    </div>

		<div class="my-portfolio my-portfolio__right">
			<p class= "section__subtitle section__subtitle--work"><strong>Outreachy Internship Final Contribution</strong></p>
			<p class= "story">Worked on the Wikipedia dump data, API, and protection pages by decompressing and extracting data from the dump files, statistical analysis, basic and complex visualizations to understand and generate insights from the data.Moreso, ML algorithms were used to predict if a protection type can be edited or moved.</p>
			<small class="skills"> Skills: Python, EDA, Regex, Visualization, Feature Engineering, Supervised ML</small>
			<div class="portfolio__image">
						<a target="_blank" href="https://github.com/Precillieo/Outreachy-Internship-Final-Contribution"class="portfolio__item">
  				<img src="static/outreachthr.jpg" alt="" class="portfolio__img">
  			</a>	
			</div>

			<a target="_blank" class= "btn" href="https://github.com/Precillieo/Outreachy-Internship-Final-Contribution">Code on GitHub</a>
		</div>

		<div class="my-portfolio">
			<p class= "section__subtitle section__subtitle--work"><strong>Full Featured Web App With Flask</strong></p>
			<p class= "story">Built a Blog Web App with features like forms, user inputs, pictures, accounts, and authentication, Database with SQLAlchemy, Creating, Updating, and Deleting Posts, Email and Password Reset, Blueprints and Configuration, Custom Error Pages, finally, Deployment on Heroku.</p>
			<small class="skills"> Skills:  Python, HTML, CSS, SQLAlchemy, Flask, JavaScript, BootStrap, Heroku Deployment</small>
			<div class="portfolio__image">
				<a target="_blank" href="https://kola-blog.herokuapp.com/" class="portfolio__item">
	  			<img src="static/server.jpg" alt="" class="portfolio__img">
	  		</a>
			</div>

			
			<a target="_blank" class= "btn" href="https://github.com/Precillieo/Full-Featured-Web-App-With-Flask">Code On GitHub</a>
		</div>


		<div class="my-portfolio my-portfolio__right">
			<p class= "section__subtitle section__subtitle--work"><strong>Loan Default Prediction</strong></p>
			<p class= "story">Machine Learning algorithms in predicting which customers will default on their loans based on their financial information and historical data.</p>
			<small class="skills"> Skills: Python, EDA, Data Visualization, Feature Engineering, Supervised Learning</small>
			<div class="portfolio__image">
				<a target="_blank" href="https://github.com/Precillieo/Loan-Default-Prediction" class="portfolio__item">
	  			<img src="static/loanthr.jpg" alt="" class="portfolio__img">
  			</a>
			</div>
			

			<a target="_blank" class= "btn" href="https://medium.com/datadriveninvestor/can-you-predict-customers-loan-default-using-machine-learning-be774489b8f5">Blog</a>
			<a target="_blank" class= "btn" href="https://github.com/Precillieo/Loan-Default-Prediction">Code On GitHub</a>
		</div>

		<div class="my-portfolio">
			<p class= "section__subtitle section__subtitle--work"><strong>My Data Science Portfolio Website</strong></p>
			<p class= "story">One of my newest projects is this website which I built from scratch to leverage my Data Science career with HTML, CSS, Python and Flask.</p>
			<small class="skills"> Skills: Python, HTML, CSS, Flask</small>
			<div class="portfolio__image">
							<a target="_blank" href="#" class="portfolio__item">
	  			<img src="static/pothr.jpg" alt="" class="portfolio__img">
	  		</a>
			</div>

			<a target="_blank" class= "btn" href="#">Code On GitHub</a>
		</div>


		<div class="my-portfolio my-portfolio__right">
			<p class= "section__subtitle section__subtitle--work"><strong>World Universities Ranking</strong></p>
			<p class= "story">Used PlotlyPython graphing library in making interactive visuals and generating intuitions from the world universities data. </p>
			<small class="skills"> Skills: Python, Data Wrangling, Data Visualization, Plotly</small>
			<div class="portfolio__image">
				<a target="_blank" href="https://github.com/Precillieo/Plotly-Tutorial-For-Beginners" class="portfolio__item">
	  			<img src="static/plotthr.jpg" alt="" class="portfolio__img">
	  		</a>
			</div>
			
			<a target="_blank" class= "btn" href="https://github.com/Precillieo/Plotly-Tutorial-For-Beginners">Code On GitHub</a>
		</div>


		
		

		<div class="my-portfolio">
			<p class= "section__subtitle section__subtitle--work"><strong>Big Cities Health Inventory Data Exploration</strong></p>
			<p class= "story">This visualizes the health data and the indicators causing morbidity and mortality in the National, States, and the Local Agencies of the United States.</p>
			<small class="skills"> Skills: Python, Data Wrangling, Data Visualization, Supervised Learning</small>
			<div class="portfolio__image">
				<a target="_blank" href="https://github.com/Precillieo/Big-Cities-Health" class="portfolio__item">
	  			<img src="static/healththr.jpg" alt="" class="portfolio__img">
	  		</a>
			</div>
			
		    <a target="_blank" class= "btn" href="https://medium.com/aiplusoau/big-cities-health-inventory-data-exploration-8409e75916f">Blog</a>
			<a target="_blank" class= "btn" href="https://github.com/Precillieo/Big-Cities-Health">Code On GitHub</a>
		</div>



		<div class="portfolio__right">
			<p class= "section__subtitle section__subtitle--work"><strong>Detailed Analysis Of Covid-19 Data</strong></p>
			<p class= "story">Generating interactive visuals, facts and insights on the World’s Covid-19 situation through Python Exploratory Data Analysis.</p>
			<small class="skills"> Skills: Python, Data Wrangling, Data Visualization, Supervised Learning</small>
			<div class="portfolio__image">
				<a target="_blank" href="https://github.com/Precillieo/SCA-mp-C2-Assignments/blob/master/Week4/Covid-19%20notebook.ipynb" class="portfolio__item">
	  			<img src="static/twentythr.jpg" alt="" class="portfolio__img">
	  		</a>
			</div>
			
		    <a target="_blank" class= "btn" href="https://medium.com/swlh/detailed-analysis-of-covid-19-data-6a17e579693f">Blog</a>
			<a target="_blank" class= "btn" href="https://github.com/Precillieo/SCA-mp-C2-Assignments/blob/master/Week4/Covid-19%20notebook.ipynb">Code On GitHub</a>
		</div>


	</div>
</section>
{% endblock %}