{% extends "base.html" %}
{% block content %}

<div class="main">
    <ul class="cards">
        <li class="cards_item">
            <div class="card">
            <div class="card_image"><img class="talks" src="/static/mlasakid.jpeg"></div>
            <div class="card_content">
                <h2 class="card_title">Explain Machine Learning as to a Kid.</h2>
                <p class="card_text">Women Tech Network Global Conference 2021</p>
                <a href="https://www.womentech.net/speaker/Precious/Kolawole/50221"><button class="btn card_btn">Check it out</button></a>
            </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
            <div class="card_image"><img class="talks" src="/static/ml_healthcare.jpg"></div>
            <div class="card_content">
                <h2 class="card_title">Machine Learning in Healthcare for Beginners</h2>
                <p class="card_text">One Health Tech Ibadan</p>
                <a href="https://www.onehealthtech.com/post/oht-ibadan-event-recording-machine-learning-in-healthcare-for-beginners"><button class="btn card_btn">Check it out</button></a>
            </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
            <div class="card_image"><img class="talks" src="/static/trans_healthcare.jpeg"></div>
            <div class="card_content">
                <h2 class="card_title">Transitioning into Data Science: Key Milestones for Success</h2>
                <p class="card_text">DataLab's Nigeria</p>
                <a href="https://datalab.com.ng/event/transitioning-into-data-science-key-milestones-for-success/"><button class="btn card_btn">Check it out</button></a>
            </div>
            </div>
        </li>
        <li class="cards_item">
        <div class="card">
            <div class="card_image"><img class="talks" src="/static/dsc_female.jpeg"></div>
            <div class="card_content">
            <h2 class="card_title">Achieving a Data Science Career as a Female</h2>
            <p class="card_text">NACOS Subnet 2021</p>
            <a href="https://nacos.org.ng/"><button class="btn card_btn">Check it out</button></a>
            </div>
        </div>
        </li>
        <li class="cards_item">
            <div class="card">
            <div class="card_image"><img class="talks" src="/static/first_job.jpeg"></div>
            <div class="card_content">
                <h2 class="card_title">Landing Your First Tech Job as a Newbie</h2>
                <p class="card_text">MoinWorld Mentorship</p>
                <a href="https://moinworld.de/en/mentoring/"><button class="btn card_btn">Check it out</button></a>
            </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
            <div class="card_image"><img class="talks" src="/static/careerstart_ds.jpg"></div>
            <div class="card_content">
                <h2 class="card_title">How to Kickstart Your Career in Data Science</h2>
                <p class="card_text">Pydata Global 2021</p>
                <a href="https://pydata.org/global2021/"><button class="btn card_btn">Check it out</button></a>
            </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
            <div class="card_image"><img class="talks" src="/static/telerehab.jpg"></div>
            <div class="card_content">
                <h2 class="card_title">Telerehabilitation</h2>
                <p class="card_text">Nigerian Association of Physiotherapy Students Conference 2021</p>
                <a href="https://www.nigaps.org/"><button class="btn card_btn">Check it out</button></a>
            </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img class="talks" src="/static/enth_engineer.jpeg"></div>
                <div class="card_content">
                <h2 class="card_title">From Enthusiast to Engineer</h2>
                <p class="card_text">Data Ladies' Hangout</p>
                </div>
            </div>
        </li>
    </ul>
</div>
{% endblock %}