<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
    </style>
</head>
<body>
  <div style="overflow: auto; align-items: center;">
    <div style="float: right; max-width:50%;">
      <img src="/static/lendsql.jpg" style="width: 60%;" >
    </div>
    <h2>Lendsqr, Machine Learning Engineer</h2>
    <h3>February - October 2021</h3>
  </div>
  <div class="content">
    <p>Built a machine learning model of about 90% accuracy on transactional data to predict loan repayment. </p>
    <p> Developed a loan repayment predictive model with selfies using Convolutional Neural Network(CNN).</p>
    <p>Set up model deployment pipeline on Heroku and AWS.</p>
    <p>Monitor Machine Learning models in production. </p>
    <p>Built an ad-hoc-email sender with Sendgrid API and Postgres SQL, for firing emails automatically to about 12,000 users for the purpose of retargeting and remarketing. </p>
  </div>
  <script src="/static/mains.js"></script>
</body>
</html>