{% extends "base.html" %}
{% block content %}
<div style="text-align:center">
    <img src="/static/lendsql.jpg" style="width: 40%; margin: 0 auto;" >
</div>
<br>
<div class="work">
    <div class="head">
        <h2 >Lendsqr, Machine Learning Engineer</h2>
        <h3 style="padding-left: 10px;">February - October 2021</h3>
    </div>
    <div class="wcontent">
        <p>Built a machine learning model of about 90% accuracy on transactional data to predict loan repayment. </p>
        <p> Developed a loan repayment predictive model with selfies using Convolutional Neural Network(CNN).</p>
        <p>Set up model deployment pipeline on Heroku and AWS.</p>
        <p>Monitor Machine Learning models in production. </p>
        <p>Built an ad-hoc-email sender with Sendgrid API and Postgres SQL, for firing emails automatically to about 12,000 users for the purpose of retargeting and remarketing. </p>
    </div>    
</div>
{% endblock %}







